
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color:  black;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: rgb(28, 210, 223);
  }
  
  .flip-box-back {
    color: white;
    transform: rotateY(180deg);
  }


html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 60px;
    margin: auto;
}
.line{
    display: flex;
    color: #f57e1c;
    align-items: center;
    font-size: 30px;
}
.line p1{
    margin-left: 30px;
}
.emy{
    background-color: #f57e1c;
    width: 60px;
    height: 2px;
    margin-left: 20px;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background-color:rgb(28, 210, 223);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #f57e1c;
    font-size: 35px;
    font-weight: 600;
    margin-left: -30px;
}
.navbar .logo a span{
    color: rgb(28, 210, 223);
    transition: all 00.6s ease-in-out;
}
.navbar.sticky .logo a span{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 00.6s ease-in-out;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 17px;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.navbar ul li a:hover{
    transition: all 00.60s ease-in-out;
    border-bottom: 2px solid rgb(28, 210, 223);
    box-shadow: 5px 10px 30px rgb(28, 210, 223);
}

/* menu btn */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* Home page */
.home img{
    margin-top: 30%;
    margin-left: 50%;
    height: 350px;
    width: 365px;
    left: 63%;
    top: 30%;
    white-space: nowrap;    
}
/* .icons{
    display:flex;
    color: rgb(28, 210, 223);
    font-size: 20px;
}
.comment{
  margin-left: 8%;  
}
.lock{
  margin-left: 8%; 
} */

.home img:hover{
    box-shadow: 6px 12px 34px rgb(28, 210, 223);
    cursor: pointer;
    transition: 0.6s;
}

.home{
    display: flex;
    height: 1vh;
    color: #fff;
    min-height: 10px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    margin-top: 35%;
    font-size: 27px;
    color: rgb(28, 210, 223);
}
.home .home-content .text-2{
    font-size: 27px;
    font-weight: 60px;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 27px;
    margin: 5px 0;
    font-weight: 60;
    color: rgb(28, 210, 223);
}
.home .home-content .text-3 span{
    font-weight: 500;
}

.break{
    width: 100%;
    height: 1px;
    background-color: rgb(28, 210, 223);
    margin-left: -3px;
    margin-top: 500px;
    padding-right: 100%;
}

/*services section*/
.services .max-width{
    width: 100%;
}
.container1{
    text-align: center;
    color: white;
    margin-top: 5%;
}
.order{
    margin-left: 5%;
    text-align: center;
    height: 50vh;
    width: 50%;
}
.braids{
    text-align: center;
    height: 50vh;
    width: 50%;
}
.aesthetic{
    height: 50vh;
    width: 50%;
}
.treatment{
    height: 50vh;
    width: 50%;
}
.products{
    height: 50vh;
    width: 50%;
}
.dressers{
    height: 50vh;
    width: 50%;
}
 .tables{
     font-size: 20px;
    text-align: center;
    color:white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 8%; 
    display: flex;
   }  
.circle{
    color: rgb(28, 210, 223);
    border-radius: 50%;
    font-size: 50px;
}
.hrt{
    color: rgb(28, 210, 223);
    font-size: 50px;

}
.user{
    color: rgb(28, 210, 223);
    font-size: 50px;
}
.treat{
    color: rgb(28, 210, 223);
    font-size: 50px;
} 
.p{
    color: rgb(28,210,223);
    font-size: 50px;  
}
.book{
    color: rgb(28, 210, 223);
    font-size: 50px;
}
.tables2{
    font-size: 20px;
    display: flex;
    margin-top: -1%;
    text-align: center;
    color: white;
    margin-right: 5%;
    margin-left: 5%;  
}
.break2{
    width: 100%; 
    height: 1px; 
    background-color: rgb(28, 210, 223);
    margin-top: 1%; 
    padding-right: 100%; 
}

/* orders section  */
.orders .max-width{
    width: 100%;
}
.container{
    text-align: center;
    color: white;
    margin-top: 5%;
}
.orders{
    color: rgb(28, 210, 223);
    justify-content: center;
    font-size: 20px;

}
.page1{
    display:flex;
    padding: 5%;
    margin-top: 40%;
    margin-left: -100%;
}
.JB{
    margin-left: -11%;
}
.page{
    display:flex;
    padding: 5%;
}
.page2{
    display: flex;
    margin-left: 5%; 
}

 .butt{
     margin-top: 0.5%;
   margin-left: 30%;
   font-size: medium;
   color: white;
   background-color: #f57e1c;
   padding: 1%;         
   border-radius: 1500px;
   height: 40px;
   width: 150px;
}
.CH{
    margin-left: 10%;
}
.NH{
    margin-left: 10%;
}
.TB{
   margin-left: 10%;
}
.BB{
   margin-left: 15%;
}
.breakk{
    width: 200px;
    height: 1px; 
    background-color: rgb(28, 210, 223);
    margin-top: 45%; 
    padding-left: 100%; 
    margin-left: -90%;
    position: fixed;
}
.page3{
    display:flex;
    padding: 5%;
    margin-top: 80%;
    margin-left: -104%;
}
.SH{
    margin-left: 10%;

}
.SLH{
    margin-left: 15%;  
}
.page2{
    display:flex;
    padding: 5%;
    margin-top: 120%;
    margin-left: -95%;
}
.BS{
    margin-left: 10%;

}
.BT{
    margin-left: 15%;  

}
/* contacts section */

.media ul {
    list-style: none;
    text-decoration: none;
}

.media li {
    display: inline-block;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
}

.media {
    display: flex;
    background-color: none;
    justify-content: space-around;
    /* list-style: none; */
    margin-left: 20px;
    margin-bottom: -0px;
}

.media a {
    color: #00e9a5;
    text-decoration-color: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 45px;
    text-decoration: none;
    margin-left: 50px;
}
/* .Signup-box{
    width: 360px;
    height: 620PX; 
    margin: auto;
    background-color: white;
    border-radius: 3px;
    justify-content: center;
 }


 form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid rgb(28, 210, 223);
    border-radius: 6px;
    outline: none;
    text-align: center;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20%;
    border: none;
    background-color: white;
    color: white;
    font-size: 18px;
}

 .Submit btn{
     position: relative;
     color: rgb(28, 210, 223); */
 /* } */
